* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.aboutMe {
    margin-top: 150px;
    margin-left: 100px;
}
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE 10 */
    flex: 25%;
    padding: 0 4px;
  }
  
  .column img {
    /* margin-top: 8px;
    vertical-align: middle; */
    max-width: 100%;
    max-height: auto;
    position: relative;
    vertical-align: middle;
    left: 50%;
    transform: translate(-50%);
    height: 200px;
    width: 150px;
    object-fit:cover;
    margin-top: 8px;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  @media only screen and (max-width: 768px){
    .column {
        -ms-flex: 50%;
        flex: 50%;
        padding: 0 4px;
      }
  }

  @media only screen and (max-width: 470px){
    .column {
        -ms-flex: 100%;
        flex: 100%;
        padding: 0 4px;
      }
  }

  .img__wrap {
    position: relative;
    display: inline-block;
  }
  
  .img__img {
    vertical-align: bottom;
  }
  
  .img__description_layer {
    position: absolute;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(108, 170, 124, 0.8);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }