small {
    font-size: 100%;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progresBar {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.progresBarImg {
    width: 100%;
}

.bigHeader {
    border: 1px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px;
    margin-top: 150px;
    background-color: white;
    border-radius: 16px;
    max-width: 1200px;
}

.projName {
    margin: 20px;
    margin-bottom: 0px;
}

.projHeader {
    padding: 30px;
    display: flex;
}

.subheader {
    color: rgb(108, 170, 124);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0px;
}

.projInfo p {
    margin-bottom: 30px;
}

.projLinks {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.projLinks a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
}

.projLinks a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

.projMain {
    padding: 50px 100px;
    width: 80%;
}

.imgSplit {
    display: flex;
    margin-bottom: 30px;
}

.img {
    width: 80%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid lightgray;
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 100%;
}

.splitParas {
    margin-right: 5%;
}

.splitParas p {
    max-width: 80ch;
}

.splitParas ol {
    margin-left: 30px;
}
.smallSection {
    padding: 0px;
    width: 50%;
}

.insightsImg {
    width: 50%;
}

#doubleSplit {
    width: 80%;
    display: flex;
}

.doubleImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

.stacked {

}

.callout {
    text-align: center;
    padding: 50px;
}

.standalonePic {
    width: 100%;
}

.standalonePic img {
    width: 100%;
    padding: 50px;
}

#cartPole {
    width: 50%;
}

.centerText {
    width: 50%;
    max-width: 80ch;
}

.leftImg {
    width: 100%;
    margin-right: 5%;
}

.leftImg img {
    width: 100%;
}

.bigImg {
    width: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: 1px solid lightgray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.goalAcheivements {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.twoCenters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    width: 100%;
}

.twoCenters img {
    height: 100%;
    width: 50%;
}

#weirdGraph {
    height: 80%;
    width: 45%
}

.oneCentre {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.oneCentre img {
    width: 100%;
}

.imbalanced {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.imbalanced img {
    width: 80%;
}

.imText {
    font-weight: bold;
    text-align: center;
}

.next {
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    margin-bottom: 30px;
    /* position: fixed;
    right:    0;
    bottom:   0; */
}

.next:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navButtons {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 1325px){
    .projLinks {
       width: 60%;
    }
  }
@media only screen and (max-width: 1130px){
    .projLinks {
       width: 70%;
    }
  }
@media only screen and (max-width: 1050px){
    .projLinks {
       width: 100%;
    }
  }
@media only screen and (max-width: 940px){
    .projHeader {
        flex-direction: column;
     }
 
     .projLinks {
         width: 50%;
      }

    .projLinks a {
        padding: 10px 10px;
    }
  }
@media only screen and (max-width: 768px){
    .projHeader {
       flex-direction: column;
    }

    .projLinks {
        width: 50%;
     }

     .imgSplit {
        flex-direction: column;
    }

    #doubleSplit {
        flex-direction: row;
        width: 100%;
    }

    .twoCenters {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .twoCenters img {
        width: 80%;
    }

    #weirdGraph {
        height: 100%;
        width: 75%;
        margin-left: -5%;
    }

    .oneCentre {
        width: 100%;
        margin-bottom: 30px;
    }

    .imbalanced {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    .imbalanced img {
        width: 100%;
    }

    .imbalanced p {
        margin-left: 15px;
    }

    .smallSection {
        padding: 0px;
        width: 100%;
    }
  }
  
@media only screen and (max-width: 550px){
    .projLinks {
        width: 80%;
     }

     img {
         max-width: 300px;
     }

     .callout {
         padding: 10px
     }

     .projMain {
         padding: 50px 20px;
         width: 80%;
     }

     .standalonePic img {
        padding: 10px;
     }
  }

@media only screen and (max-width: 450px){
    .projLinks {
        width: 100%;
     }

     .projHeader {
         align-items: center;
     }
  }