/* .projectsIntro {
    margin-top: 150px;
} */
 main {
     margin: 150px 70px;
 }

 .horizProjImg {
     width: 100%;
 }

 .projHeader {
     max-width: 500px;
 }

 .vertProjImg {
     display: none;
 }

 .projectsList {
     display: flex;
     width: 100%;
     margin-top: 50px;
 }

 .project {
     margin-left: 2.5%;
     margin-right: 2.5%;
     width: 33%;
     cursor: pointer;
     color: black;
     text-decoration: none;
 }

 .project:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
 }

 .projImg {
     width: 100%;
 }

 #bubbles {
     border: 1px solid #333333;
 }

  .image {
      width: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .containerProj:hover .image {
    opacity: 0.3;
  }

  .vl {
    border-left: 6px solid lightgrey;
    height: 500px;
    color: white;
    position: relative;
    z-index: 0;

  }

  .dot {
    background-color: #6CAA7C;
    border-radius: 50%;
    padding: 20px;
    color: #6CAA7C;
    z-index: 5;

  }
  
  @media screen and (max-width: 768px){
    .timelineProjs {
        display: flex;
    }


    .projectsList {
        display: initial;
        margin: 50px;
    }

    .horizProjImg {
       display: none;
    }

    .mobileProj {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .project p {
        padding-bottom: 50px;
    }

    /* .vertProjImg {
        display: initial;
        width: 20%;
        height: 100%;
    } */

    .mobileProj {
        display: flex;
    }

    main {
        margin: 150px 20px
    }
   
  }
